<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appsdj.olympicgamesquiz">

    <application
        android:name=".QuizDataManager"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SummerOlympicsQ1" />
        <activity android:name=".WinterOlympicsQ1" />
        <activity android:name=".SummerOlympicsQ2" />
        <activity android:name=".SummerOlympicsQuizResults" />
        <activity android:name=".SummerOlympicsQ3" />
        <activity android:name=".SummerOlympicsQ5" />
        <activity android:name=".SummerOlympicsQ4" />
        <activity android:name=".WinterOlympicsQ2" />
        <activity android:name=".WinterOlympicsQ3" />
        <activity android:name=".WinterOlympicsQ4" />
        <activity android:name=".WinterOlympicsQ5" />
        <activity android:name=".WinterOlympicsQuizResults"></activity>
    </application>

</manifest>